<div class="flex flex-col items-center justify-center mt-10">
    <div class="mt-4">
        <h1 class="">
            Welcome to my Video Game Library
        </h1>
    </div>
    <div class="mt-2">
        <button routerLink="/addGame" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Add Video Game </button>
    </div>
    <div class="mt-8">
        <button routerLink="/listGame" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">List Video Games </button>
    </div>

    <div>
        <button class="mt-6 hover:bg-white hover:text-black" (click)="logout()">
            Logout
        </button>
    </div>
</div>